@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;500;700&family=Poppins&display=swap');

/* Set custom variables here */

:root {
  --bs-primary-rgb: 231, 228, 255;
  --bs-primary: #7659B7;
  --bs-secondary-rgb: 2, 169, 227;
  --bs-blue-rgb: 0, 97, 251;
}

:root {
  --bs-success-rgb: 246, 243, 237;
  --bs-success: #f6f3ed;
}

.btn-primary {
  background-color: var(--bs-primary);
}

.nav-link {
  color: #0061FB;
}

.nav-link-hover {
  color: grey;
}

.navbar-brand {
  color: #0061FB;
}


body {
  font-family: "Poppins", sans-serif;
}

h1, h2, h3 {
  font-family: "Palanquin Dark", serif;
}

h2 {
  text-align: center;
}

header {
    color: #0061FB;
}

.hero {
  height: 800px;
  color: white;
  background-image: url(../images/penguins.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;

  text-align: center;
}

.hero-overlay {
    background: rgba(32, 1, 50, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer {
  color: var(--bs-blue);
  background-color: #E7E4FF;
}

.hero-text {
    padding: 30em 30em 30em 30em
}

li {
  list-style-type: none;
}

#works {
  text-align: center;
}

#smarter {
  text-align: center;
}

#saying img {
  border-radius: 100%;
  text-align: center;
}


#cta {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/cta-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#cta .d-flex {
  height: 400px;
}
